/* FRONTEND WEB DEVELOPING icon */
.carbon--cics-program {
    display: inline-block;
    width: 40px;
    height: 40px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='m20.17 19l-2.59 2.59L19 23l4-4l-4-4l-1.42 1.41zm-8.34 0l2.59-2.59L13 15l-4 4l4 4l1.42-1.41z'/%3E%3Ccircle cx='9' cy='8' r='1' fill='%23000'/%3E%3Ccircle cx='6' cy='8' r='1' fill='%23000'/%3E%3Cpath fill='%23000' d='M28 4H4c-1.103 0-2 .898-2 2v20c0 1.103.897 2 2 2h24c1.103 0 2-.897 2-2V6c0-1.102-.897-2-2-2m0 2v4H4V6zM4 26V12h24v14z'/%3E%3C/svg%3E");
    background-color: white;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    margin-left: 0%;
    margin-bottom: -2.5%;
}

/* GRAPHIC DESIGNING icon */
.iconoir--design-nib {
    display: inline-block;
    width: 40px;
    height: 40px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='m17.674 11.408l-1.905 5.715a.6.6 0 0 1-.398.386L3.693 20.98a.6.6 0 0 1-.74-.765L6.745 8.841a.6.6 0 0 1 .34-.365l5.387-2.218a.6.6 0 0 1 .653.13l4.404 4.406a.6.6 0 0 1 .145.614M3.296 20.602l6.364-6.364'/%3E%3Cpath d='m17.792 11.056l2.828-2.829a2 2 0 0 0 0-2.828L18.5 3.277a2 2 0 0 0-2.829 0l-2.828 2.829m-1.062 6.01a1.5 1.5 0 1 0-2.121 2.122a1.5 1.5 0 0 0 2.121-2.122'/%3E%3C/g%3E%3C/svg%3E");
    background-color: white;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    margin-left: 0%;
    margin-bottom: -2.5%;
}

/* UX/UI DESIGNING icon */
.fluent-mdl2--code-edit {
    display: inline-block;
    width: 40px;
    height: 40px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath fill='%23000' d='m219 1024l205 205l-37 145l-350-350l430-429l90 90zm1792 0l-430 429l-90-90l338-339l-149-149q26-26 47-48t38-48zm-547-640q42 0 78 15t64 42t42 63t16 78q0 39-15 76t-43 65l-717 719l-377 94l94-377l717-718q28-28 65-42t76-15m51 249q21-21 21-51q0-31-20-50t-52-20q-14 0-27 4t-23 15l-692 694l-34 135l135-34z'/%3E%3C/svg%3E");
    background-color: white;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    
    margin-left: 0%;
    margin-bottom: -2.5%;
}

.skill-bars li .percent69 {
    width : 69%;
}

.skill-bars li .percent89 {
    width : 89%;
}

.skill-bars li .percent83 {
    width : 83%;
}

.scroll {
    overflow-y: auto;
}

.container {
    max-width: 800px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}


/* PHOTO SLIDESHOW */
.img {
    vertical-align: middle;
    height: auto;
    width: auto;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container2 {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides2 {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor2 {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev2,
  .next2 {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev2:hover,
  .next2:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext2 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container2 {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column2 {
    float: left;
    width: 15%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo2 {
    opacity: 0.6;
  }
  
  .active2,
  .demo2:hover {
    opacity: 1;
  }